__pycache__/
*.py[cod]

*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/

# Models
/database/CAL500/model/*
/database/FMA/model/*
/database/MagnaTagATune/model/*
/database/MillionSong/model/*
database/CAL500/out/168-056/first_stage/model-10/
database/CAL500/out/168-056/first_stage/model-11/
database/CAL500/out/168-056/first_stage/model-12/
database/CAL500/out/168-056/first_stage/model-13/
database/CAL500/out/168-056/first_stage/model-14/
database/CAL500/out/168-056/first_stage/model-15/
database/CAL500/out/168-056/first_stage/model-16/
database/CAL500/out/168-056/first_stage/model-2/
database/CAL500/out/168-056/first_stage/model-3/
database/CAL500/out/168-056/first_stage/model-4/
database/CAL500/out/168-056/first_stage/model-5/
database/CAL500/out/168-056/first_stage/model-6/
database/CAL500/out/168-056/first_stage/model-7/
database/CAL500/out/168-056/first_stage/model-8/
database/CAL500/out/168-056/first_stage/model-9/
database/CAL500/out/168-056/second_stage/model-10/
database/CAL500/out/168-056/second_stage/model-11/
database/CAL500/out/168-056/second_stage/model-12/
database/CAL500/out/168-056/second_stage/model-13/
database/CAL500/out/168-056/second_stage/model-14/
database/CAL500/out/168-056/second_stage/model-15/
database/CAL500/out/168-056/second_stage/model-16/
database/CAL500/out/168-056/second_stage/model-2/
database/CAL500/out/168-056/second_stage/model-3/
database/CAL500/out/168-056/second_stage/model-4/
database/CAL500/out/168-056/second_stage/model-5/
database/CAL500/out/168-056/second_stage/model-6/
database/CAL500/out/168-056/second_stage/model-7/
database/CAL500/out/168-056/second_stage/model-8/
database/CAL500/out/168-056/second_stage/model-9/
database/CAL500/out/336-112/
database/CAL500/out/672-224/first_stage/model-10/
database/CAL500/out/672-224/first_stage/model-11/
database/CAL500/out/672-224/first_stage/model-12/
database/CAL500/out/672-224/first_stage/model-14/
database/CAL500/out/672-224/first_stage/model-15/
database/CAL500/out/672-224/first_stage/model-16/
database/CAL500/out/672-224/first_stage/model-6/
database/CAL500/out/672-224/first_stage/model-7/
database/CAL500/out/672-224/first_stage/model-8/
database/CAL500/out/672-224/first_stage/model-9/
database/CAL500/out/672-224/second_stage/model-10/
database/CAL500/out/672-224/second_stage/model-11/
database/CAL500/out/672-224/second_stage/model-12/
database/CAL500/out/672-224/second_stage/model-13/
database/CAL500/out/672-224/second_stage/model-14/
database/CAL500/out/672-224/second_stage/model-15/
database/CAL500/out/672-224/second_stage/model-16/
database/CAL500/out/672-224/second_stage/model-4/
database/CAL500/out/672-224/second_stage/model-6/
database/CAL500/out/672-224/second_stage/model-7/
database/CAL500/out/672-224/second_stage/model-8/
database/CAL500/out/672-224/second_stage/model-9/
database/CAL500/out/783-261/
database/CAL500/out/784-262/
database/CAL500/out/784-264/
database/CAL500/src/model-11/
database/CAL500/src/model-12/
database/CAL500/src/model-6/
database/CAL500/src/model-7/
database/CAL500/src/model-8/
database/FMA/out/
database/FMA/src/
database/MagnaTagATune/out/
database/MagnaTagATune/src/
database/MillionSong/out/
database/MillionSong/src/
